@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.login-heading {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
.login-section {
  background: #121212;
  border-radius: 17px;
}
.login-caption {
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 21px;
  font-size: 15px;
  color: rgb(212, 212, 212);
  padding-inline: 20px;
  text-align: center;
}
.input-box{
  border: 1px solid ;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}