.news {
  background-color: #1e1e1e;
  margin-top: 10px;
  border-radius: 17px;
}

.aa {
  margin-block: 2rem;
}
.news-heading-load {
  font-weight: bold;
  font-size: 18px;
}
.news-desc-load {
  font-weight: 300;
  font-size: 15px;
  color: #8e918f;
}
